
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fundo da tela*/
html{
    width: 100vw;
    height: 100vw;
    font-size: 62.5%;
    color: rgb(252, 249, 249);
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/img5.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat:no-repeat;
}
/*menu - HEADER */
header{
    width: 200vh;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2) ;
    

}
.menu_content{
  text-transform: uppercase; 
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-size: 1.8rem;

}
.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
    
}
.menu_content .list_itens{
    display: flex;
    list-style: none;
    gap:15px;
}   
.menu_content .list_itens a {
    text-decoration: none ;
    color: white;
    padding: 1.5rem;
    transform: 2ms easy-in;
    position: relative;

}
.menu_content .list_itens a:before {
    content:' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(234, 235, 223) ;
    transition: all 1.5s ease;
}
.menu_content .list_itens a:hover:before {
width: 100%;
}
/* centro - conteudo principal*/
main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*textos conteudo principal*/
.primary_text{
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem; 

   
}
.second_text{
    margin-bottom: 7rem;
    font-size: 2rem ;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

/* botoes   */
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btns button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;

}

.btns button::before {
  content:' ';
  border-radius: 20px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 60px;
  background-color: rgb(61, 61, 61);
  z-index: -1;
  transition: 1s;
}
.btns button:hover::before{
width: 100%;
}
.btns button:hover{
    color: rgb(255, 255, 0);
    border: none
}